body {
    background-color: #f1f1f1;
    color: #0f141e;
  
    font-size: 16px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif
   
  }

h1{
	height: 50px;
     background-image: url(flag.jpg);
     
}

.container {
    padding: 50px 55px;

}
.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    
  }
  .Kote {
    height:60%;
    border-radius: 45px;
    box-shadow: 4px 4px 14px rgba(38, 17, 222, 0.25);
  width: 60%;
margin-left: 25%;}


